<div class="container">
  <form action=<%="/reminder/edit/" + reminderItem.id %> method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input value=<%= reminderItem.title %> type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description"
        name="description">
      <%- reminderItem.description %>
      </textarea>
    </div>
    <div>
      <h5>Completed</h5>
      <% if (reminderItem.completed == "true") { %>
          <input checked type="radio" name="complete" id="" value="true"> True
          <% } else { %>
           <input checked type="radio" name="complete" id="" value="false"> False
            <% } %>
            <br>
      <% if (reminderItem.completed == "true") { %>
          <input type="radio" name="complete" id="" value="false"> False
          <% } else { %>
           <input type="radio" name="complete" id="" value="true"> True
            <% } %>
      <br>
    </div>
    <button type="submit" class="btn btn-default" style="border: 1px green solid; 
      margin-top: 20px; 
      background-color: rgb(80, 177, 0); 
      color: whitesmoke;
      width: 50%;">
      Save
    </button>
  </form>
</div>